extends layout

block content
  h1    Current process
  #mainPanel
    .subPanel 
      .taskTitle Progress
      ul
        each val, index in cache.progress
          li
            span.task_text= index+1+".  "+val
            span.status 
              b(target= val) pending
    if cache.LDA.execute    
      .subPanel
        .taskTitle LDA
        ul
          each val, index in cache.LDA.func_list
            li
              span.task_text= index+1+".  "+val
              span.status
                b(target= val) pending
